@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@mixin size($w,
$h: $w) {
    width: $w;
    height: $h;
}

@mixin flexCenter() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin bxshadow() {
    box-shadow: 0px 5px 25px 5px rgba(black, 0.2);
}

@mixin fixedTo($left,
$top) {
    position: fixed;
    left: $left;
    top: $top;
}